<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float: left;">
      <ul class="nav navbar-nav">
              
      </ul>
      
      <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= gravatar_tag current_user.email, size: 20 %>  <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " Profile", user_path(current_user.username), class:'fa fa-user' %></li>
            <li class="divider"></li>
            <li><%= link_to " Settings", edit_user_registration_path, class: 'fa fa-cogs' %></li>
            <li><%= link_to " Log Out", destroy_user_session_path, method: :delete, class: 'fa fa-sign-out' %></li>
          </ul>
        </li>
        <% else %>
        <li><button type="button" class="btn btn-default navbar-btn"><%= link_to " Login", new_user_session_path, class: 'fa fa-sign-in' %></button></li>
        <% end %>
        <li><%= link_to " ", root_path, class: 'fa fa-home' %></li>
        <li><%= link_to " ", users_path, class: 'fa fa-users' %></li>
        <li><%= link_to " ", root_path, class: 'fa fa-envelope' %></li>
        <li><%= link_to " ", root_path, class: 'fa fa-picture-o' %></li>
        <% end %>

        
      </ul>
    </div><!-- /.navbar-collapse -->


    <div class="col-lg-6" style="padding-top: 10px; float: right;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Find Friends" aria-label="Text input with segmented button dropdown">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default">Search</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">By First Name</a></li>
              <li><a href="#">By Last Name</a></li>
              <li class="divider"></li>
              <li><a href="#">By City</a></li>
              <li><a href="#">By State</a></li>
              <li><a href="#">By Country</a></li>
              <li class="divider"></li>
              <li><a href="#">By Church</a></li>
            </ul>
          </div>
        </div><!-- /.input-group -->
      </div>


  </div><!-- /.container-fluid -->
</nav>
<div style="height: 50px; background-color: #000791; color: white;">
<div class="container" style="padding: 15px;">  
  <i class="fa fa-list" style="float: left;"><span style="color: white; padding-left: 10px; font-size: 22px;"> Hi  <%= current_user.username %> </span></i>
</div>
</div>